In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px

In [4]:
data = pd.read_csv('data/testing/pushoff.csv', sep=',', names=['t', 'ax', 'ay', 'az', 'gx', 'gy', 'gz'])
data.head()

       t    ax    ay     az    gx    gy    gz
0  29172  0.29 -0.35 -12.86 -0.02 -0.03  0.00
1  29301  0.29 -0.34 -12.87 -0.02 -0.03  0.00
2  29425  0.30 -0.35 -12.88 -0.02 -0.03  0.00
3  29549  0.27 -0.14 -12.84 -0.04  0.10 -0.05
4  29674 -0.30  1.11 -12.83 -0.57  0.09 -0.32